<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Fragmento de código que será substituído pelo conteúdo do fragmento "heads" -->
    <div th:replace="fragments/heads :: heads"></div>

    <title>Adicionar Perfil</title>
    <style>
        .mensagem {
            color: red;
        }
    </style>
</head>
<body>

<div class="container">
    <!-- Fragmento de código que será substituído pelo conteúdo do fragmento "cabecalho" -->
    <div th:replace="fragments/header :: cabecalho"></div>
    <div class="row">
        <div class="col">

            <!-- Mensagem carregada após a inserção dos dados-->
            <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <span th:text="${mensagem}"></span>
            </div>

            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Cadastro de <b>Perfil</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12" style="text-align: right;">
                                <a th:href="@{/perfil}" class="btn btn-primary"> Listagem <i class="fas fa-list"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


            <!-- Formulário de cadastro de alunos th:action="@{/aluno/salvar} recurso do Thymeleaf -->
            <form action="#" th:action="@{/perfil/salvar}" th:object="${perfil}" method="post">

                <input type="hidden" th:field="${perfil.id}">

                <div class="card">
                    <div class="card-header">
                        Dados da Turma
                    </div>

                    <div class="card-body">
                        <div class="form-control form-control-sm">
                            <label class="col-sm-12 col-form-label">Curso:</label>
                            <div class="col-sm-12">

                                <!-- th:field="*{nome}" recurso do Thymeleaf. Carrega o atributo nome do objeto aluno -->
                                <input class="form-control" type="text" th:field="*{name}">
                                <br>
                            </div>
                            <div class="col-sm-12">
                                <!-- Mensagem de erro caso o campo nome tenha algum erro de validação -->
                                <span class="mensagem" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </div>
                        </div>





                    </div>
                </div>
                <br>




                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-success" type="submit"> Salvar <i class="fas fa-save"></i></button>
                    </div>
                    <div class="col-sm-6" style="text-align: right;">
                        <a th:href="@{/perfil}" class="btn btn-primary"> Listagem <i class="fas fa-save"></i></a>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <!-- Fragmento de código que será substituído pelo conteúdo do fragmento "footer" -->
    <div th:replace="fragments/footer :: footer">
    </div>


</div>
</div>
</body>
</html>
